
<div class="row">

<div class="col-lg-3">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3">Add New Cruise Reservations</h4>
        <form>
          <div class="form-group">
            <label class="col-form-label" for="recipient-name-3">Activity Type:</label>
            <input class="form-control" [(ngModel)]="newActivityPackage.activity_type" name="activity_type" type="text" />
          </div>
          <div class="form-group">
            <label class="col-form-label" for="recipient-name-3">Destination:</label>
            <input class="form-control" [(ngModel)]="newActivityPackage.destination" name="destination" type="text" />
          </div>
          <div class="form-group">
            <label class="col-form-label" for="recipient-name-3">Date:</label>
            <input class="form-control" [(ngModel)]="newActivityPackage.date" name="date" type="date" />
          </div>
          <div class="form-group">
            <label class="col-form-label" for="recipient-name-3">Age Restriction:</label>
            <input class="form-control" [(ngModel)]="newActivityPackage.age_restriction" name="age_restriction" type="number" />
          </div>
          <div class="form-group">
            <label class="col-form-label" for="recipient-name-3">Price:</label>
            <input class="form-control" [(ngModel)]="newActivityPackage.price" name="price" type="text" />
          </div>
          <div class="form-group" style="text-align: right;">
            <button class="btn btn-success" (click)="addNewActivityPackage()">Add</button>
            <button class="btn btn-warning" (click)="resetAddNewActivityPackageForm()" style="margin-left: 5px;">Reset</button>
          </div>
        </form>  
        </div>
        </div>


</div>


<div class="col-lg-9">
  <div class="row">
    <div class="col-lg-12">
      <div class="card text-left">
        <div class="card-body">
            <h4 class="card-title mb-3">Activity Reservations</h4>
            <div class="table-responsive">
                <table datatable class="row-border hover"  *ngIf="allActivityPackages.length">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Activity Type</th>
                          <th scope="col">Destination</th>
                          <th scope="col">Date</th>
                          <th scope="col">Age Restriction</th>
                          <th scope="col">Price</th>
                          <th scope="col">Status</th>
                          <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let package of allActivityPackages">
                        <th scope="row">1</th>
                        <td>{{ package.activity_type }}</td>
                        <td>{{ package.destination }}</td>
                        <td>{{ package.date | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ package.age_restriction }}</td>
                        <td>{{ package.price | currency }}</td>
                        <td><span class="badge badge-success">Active</span></td>
                        <td>
                        <button class="btn btn-warning btn-sm m-1" type="button" data-toggle="modal" (click)="viewActivityPackage(package.id || '')" data-target="#cruiseReservationUpdate">
                            <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                        </button>
                        <button   class="btn btn-danger btn-sm m-1" type="button" data-toggle="modal" (click)="deleteActivityPackage(package.id || '')" data-target="#verifyModalContent1">
                          <i class="nav-icon i-Close-Window font-weight-bold"></i>
                        </button>
                            <a class="text-danger mr-2" href="#"></a>
                        </td>
                    </tr>
                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="card text-left">
        <div class="card-body">
            <h4 class="card-title mb-3">Cruise Reservations</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Departure</th>
                            <th scope="col">Arrival</th>
                            <th scope="col">Departure Date</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Deck and Cabin Class</th>
                            <th scope="col">Price</th>
                            <th scope="col">Duration of the Cruise</th>
                            <th scope="col">Cruise Provider</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Smith Doe</td>
                            <td><img class="rounded-circle m-0 avatar-sm-table" src="../../dist-assets/images/faces/1.jpg" alt="" /></td>
                            <td>Smith@gmail.com</td>
                            <td><span class="badge badge-success">Active</span></td>
                            <td><a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a><a class="text-danger mr-2" href="#"><i class="nav-icon i-Close-Window font-weight-bold"></i></a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jhon Doe</td>
                            <td><img class="rounded-circle m-0 avatar-sm-table" src="../../dist-assets/images/faces/1.jpg" alt="" /></td>
                            <td>Jhon@gmail.com</td>
                            <td><span class="badge badge-info">Pending</span></td>
                            <td><a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a><a class="text-danger mr-2" href="#"><i class="nav-icon i-Close-Window font-weight-bold"></i></a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Alex</td>
                            <td><img class="rounded-circle m-0 avatar-sm-table" src="../../dist-assets/images/faces/1.jpg" alt="" /></td>
                            <td>Otto@gmail.com</td>
                            <td><span class="badge badge-warning">Not Active</span></td>
                            <td><a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a><a class="text-danger mr-2" href="#"><i class="nav-icon i-Close-Window font-weight-bold"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
</div>





  
    <div class="modal fade" id="cruiseReservationUpdate" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent1"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="verifyModalContent1_title">New cruise reservation</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-group">
                  <label class="col-form-label" for="recipient-name-3">Activity Type:</label>
                  <input class="form-control" [(ngModel)]="activityPackage.activity_type" name="activity_type" type="text" />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="recipient-name-3">Destination:</label>
                  <input class="form-control" [(ngModel)]="activityPackage.destination" name="destination" type="text" />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="recipient-name-3">Date:</label>
                  <input class="form-control" [ngModel]="activityPackage.date" name="date" type="date" />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="recipient-name-3">Age Restriction:</label>
                  <input class="form-control" [(ngModel)]="activityPackage.age_restriction" name="age_restriction" type="number" />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="recipient-name-3">Price:</label>
                  <input class="form-control" [(ngModel)]="activityPackage.price" name="price" type="text" />
                </div>
              </form>              
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            <button class="btn btn-warning" (click)="updateActivityPackage(activityPackage.id || '')" type="button">Update Now</button>
          </div>
        </div>
      </div>
