<div class="auth-layout-wrap" style="background-image: url(../../../assets/dist-assets/images/photo-wide-4.jpg)">
    <div class="auth-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card o-hidden">
                    <div class="p-4">
                        <div class="auth-logo text-center">
                            <img src="../../../assets/dist-assets/images/logo.png" alt="">
                        </div>
                        <h1 class="text-18 text-center">Vacation4U</h1>
                        <h4 class="mb-4 text-14 text-center">A Comprehensive Online Management System</h4>

                        <form>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input class="form-control " name="firstName" [(ngModel)]="userRegisrationDetails.first_name">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input class="form-control " name="lastName" [(ngModel)]="userRegisrationDetails.last_name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input class="form-control " name="email" [(ngModel)]="userRegisrationDetails.email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="confirmEmail">Confirm Email</label>
                                <input class="form-control " name="confirmEmail" [(ngModel)]="userRegisrationDetails.confirm_email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" name="password" [(ngModel)]="userRegisrationDetails.password" type="password">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input class="form-control " name="confirmPassword" [(ngModel)]="userRegisrationDetails.confirm_password" type="password">
                            </div>
                            <button class="btn  btn-primary btn-block mt-4" (click)="registerUser()">Register Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
