<div class="card" style="border-radius: 18px;background: rgb(255, 255, 255);"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="assets/img/reisetopia-3n7bxyRYQ24-unsplash.jpg">
    <div class="card-body p-4">
        <h4 class="card-title" style="font-family: Inter, sans-serif;"><span style="color: rgb(20, 20, 20);">Havelock Place&nbsp;Bungalow</span></h4>
        <div class="d-flex" style="height: 30px;">
            <p style="font-family: Poppins, sans-serif;color: #888888;">13 Kilometers Away</p>
        </div>
        <div class="d-flex" style="color: #212529;">
            <p style="color: #888888;font-size: 16px;font-family: Poppins, sans-serif;">Nov 08 - 11</p>
        </div>
        <div class="d-flex">
            <h1 style="font-size: 30px;font-family: Poppins, sans-serif;">$112</h1>
            <h1 class="d-xxl-flex align-items-xxl-end" style="font-size: 22px;margin-right: 0px;padding-right: 0px;padding-left: 8px;text-align: center;font-family: Poppins, sans-serif;color: #888888;">per night</h1>
        </div>
    </div>
</div>