<!-- <nav class="navbar navbar-expand-md py-3 navbar-light" style="margin-right: 30px;border-width: 5px;border-bottom-style: solid;border-bottom-color: #e1e1e1;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#" style="font-family: 'Darker Grotesque', sans-serif;font-size: 20px;">
            <h1 style="font-family: Inter, sans-serif;font-size: 30px;font-weight: bold;color: var(--bs-dark);">Vacations4You</h1>
        </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-end d-xxl-flex align-items-xxl-center" id="navcol-1" style="text-align: left;">
            <ul class="navbar-nav d-xxl-flex mx-auto">
                <li class="nav-item"><a class="nav-link active fw-semibold" style="font-family: 'Darker Grotesque', sans-serif;font-size: 20px;margin-right: 0;color: rgba(0,0,0,0.55);" href="#About">Cruise Reservation</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" href="#Projects" style="font-family: 'Darker Grotesque', sans-serif;font-size: 20px;margin-left: 30px;margin-right: 0;color: rgba(0, 0, 0, 0.55);">Activity Reservation</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" href="#" style="font-family: 'Darker Grotesque', sans-serif;font-size: 20px;margin-right: 0;margin-left: 30px;">Holiday Packages</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"> <img class="dropdown-image" src="assets/img/avatar.jpg"></a>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Settings </a><a class="dropdown-item" href="#">Payments </a><a class="dropdown-item" href="#">Logout </a></div>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<p>qwdqwdwddsdsadasdew</p>