<div class="breadcrumb">
    <h1>My Bookings</h1>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
            
                <form>
                    <div class="row">
                        <div class=" col-md-12 form-group">
                            <label for="picker1">Select Package</label>
                            <select class="form-control" (change)="getDataForSelectedBookingPackage()" [(ngModel)]="selectedPackageType" name="selectedPackageType">
                                <option [value]="'cruise'">Cruise Package</option>
                                <option [value]="'activity'">Activity Package</option>
                                <option [value]="'holiday'">Holiday Package</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card o-hidden mb-4">
      <div class="card-header d-flex align-items-center">
        <h3 class="w-50 float-left card-title m-0">My Bookings</h3>
        
      </div>
      <div class="card-body">
        <div class="table-responsive">
            <table datatable class="row-border hover" *ngIf="holidayBookingList.length">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Duration</th>



                  </tr>
                </thead>
                <tbody *ngFor="let booking of holidayBookingList">
                  <tr>
                    <th scope="row">{{booking?.user?.first_name}} {{booking?.user?.last_name}}</th>
                    <td>{{booking?.user?.email}}</td>
                    <td>{{booking?.product?.title}}</td>
                    <td>{{booking?.product?.price}}</td>
                    <td>{{booking?.product?.destination}}</td>
                    <td>{{booking?.product?.duration}}</td>
                  </tr>
                </tbody>
              </table>

              <table datatable class="row-border hover" *ngIf="cruiseBookingList.length">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Cabin</th>
                    <th scope="col">Meal Preference</th>

                  </tr>
                </thead>
                <tbody *ngFor="let booking of cruiseBookingList">
                  <tr>
                    <th scope="row">{{booking?.user?.first_name}} {{booking?.user?.last_name}}</th>
                    <td>{{booking?.user?.email}}</td>
                    <td>{{booking?.product?.title}}</td>
                    <td>{{booking?.product?.price}}</td>
                    <td>{{booking?.cabin}}</td>
                    <td>{{booking?.meal_preference}}</td>
                  </tr>
                </tbody>
              </table>
              
              <table datatable class="row-border hover" *ngIf=" activityBookingList.length">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <!-- <th scope="col">Title</th> -->
                    <th scope="col">Price</th>
                    <th scope="col">Participants Count</th>
                    <th scope="col">Age Restriction</th>

                  </tr>
                </thead>
                <tbody *ngFor="let booking of activityBookingList">
                  <tr>
                    <th scope="row">{{booking?.user?.first_name}} {{booking?.user?.last_name}}</th>
                    <td>{{booking?.user?.email}}</td>
                    <!-- <td>{{booking?.product?.title}}</td> -->
                    <td>{{booking?.product?.price}}</td>
                    <td>{{booking?.participants?.length}}</td>
                    <td>{{booking?.product?.age_restriction}}</td>
                  
                  </tr>
                </tbody>
              </table>
            
        </div>
      </div>
    </div>
  </div>
