<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-3">Search Your Dream Gateway</div>
                <form>
                    <div class="row">
                        <div class="col-md-2 form-group mb-3">
                            <label for="firstName1">Departure Destination</label>
                            <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.departure_destination" name="departure_destination" type="text" placeholder="Enter your departure destination" />
                        </div>
                        <div class="col-md-2 form-group mb-3">
                            <label for="lastName1">Arrival Destination</label>
                            <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.arrival_destination" name="arrival_destination" type="text" placeholder="Enter your arrival destination" />
                        </div>
                        <div class="col-md-2 form-group mb-3">
                            <label for="exampleInputEmail1">Departure Date</label>
                            <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.departure_date" name="departure_date" type="date" />
                        </div>
                        <div class="col-md-2 form-group mb-3">
                            <label for="exampleInputEmail1">Arrival Date</label>
                            <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.arrival_date" name="arrival_date" type="date"/>
                        </div>
                        <div class="form-group col-md-2 ">
                            <label for="picker1">Select Cabin Class</label>
                            <select class="form-control" [(ngModel)]="searchCruiseReservationBooking.cabin_class" name="cabin_class">
                                <option [value]="'1st Class'">1st Class</option>
                                <option [value]="'2nd Class'">2nd Class</option>
                                <option [value]="'3rd Class'">3rd Class</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group mb-3 align-self-end">
                            <button class="btn btn-success btn-block" (click)="searchCruisePackageDetails()">Search</button>
                        </div>
                    </div>
                </form>
                
                
            </div>
        </div>
    </div>
    <!-- <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <iframe allowfullscreen frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="200">
                </iframe>
                </div>
        </div>
    </div> -->

    <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title mb-3">Filters</div>
                        <form>
                            <div class="row">
                                <div class="col-md-4 form-group mb-3">
                                    <label for="firstName1">Min</label>
                                    <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.min_price" name="min_price" type="number"/>
                                </div>
                                <div class="col-md-4 form-group mb-3">
                                    <label for="lastName1">Max</label>
                                    <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.max_price" name="max_price" type="number"/>
                                </div>
                        
                                <div class="col-md-4 form-group mb-3 mt-4">
                                    <button class="btn btn-primary" style="width: 100%;" (click)="applyCruisePackageDetailsFilter()">Apply</button>
                                </div>
                                
                                <div class="col-md-12 form-group mb-3">
                                    <label for="phone">Cruise Duration</label>
                                    <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.cruise_duration" name="cruise_duration" placeholder="Enter duration" />
                                </div>
                        
                                <div class="col-md-12 form-group mb-3">
                                    <label for="phone">Cruise Provider</label>
                                    <input class="form-control" [(ngModel)]="searchCruiseReservationBooking.cruise_provider" name="cruise_provider" placeholder="Enter provider" />
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
    </div>
    <div class="col-md-9">
        <!-- Card 1 -->
        <div class="card card-ecommerce-3 o-hidden mb-4" *ngFor="let package of allCruisePackages">
            <div class="d-flex flex-column flex-sm-row">
                <div class="mb-3 mb-sm-0">
                    <img class="card-img-left" src="../../../../../assets/img/pexels-matthew-barra-813011.jpg" alt="" />
                </div>
                <div class="flex-grow-1 p-4">
                    <h5 class="m-0 mb-2 font-weight-bold" style="font-size: 30px;">{{package.title}}</h5>
                    <h5 class="m-0 mb-12" style="font-size: 22px;">{{package.description}}</h5>
                    <p class="m-0 mt-2 text-small text-muted">Destination From: {{package.departure_destination}} </p>
                    <p class="m-0 mb-12 mb-2 text-small text-muted">Destination To: {{package.arrival_destination}} </p>
                    <p class="m-0 mt-4" style="font-size: 24px;">{{package.price | currency}}</p>
                    <div class="actions mt-3">
                        <button class="btn btn-sm btn-icon btn-outline-primary" data-toggle="modal" data-target="#cruiseBookingModel" (click)="openNewCruiseBooking(package)" >Book</button>
                    </div>
                </div>
            </div>
        </div>
    

    </div>
    
    <!-- <div class="col-md-9 col-sm-12">
        <div class="card card-ecommerce-3 o-hidden mb-4" *ngFor="let package of allCruisePackages">
            <div class="d-flex flex-column flex-sm-row">
                <div><img class="card-img-left" src="../../../../assets/dist-assets/images/photo-wide-1.jpg" alt=""></div>
                <div class="flex-grow-1 p-4">
                    <h5 class="m-0">{{package.title}}</h5>
                    <p class="m-0 text-small text-muted">By ABC Cafe</p>
                    <p class="m-0">{{package.price | currency}}
                    </p>
                    <p class="text-muted mt-3">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Nesciunt placeat esse tempore debitis.
                    </p>
                    <div class="actions">
                        <button class="btn btn-warning"  data-toggle="modal" (click)="openNewCruiseBookingModel(package)"  data-target="#cruiseBookingModel"><i class="icon i-Add-Cart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
</div>



<div class="modal fade" id="cruiseBookingModel" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent1"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verifyModalContent1_title">New Cruise Booking for {{openCruiseReservation.title}}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <p class="font-weight-bold">Complete the form below to make a new cruise booking.</p>
        <form>
            <div class="form-group">
                <label>Departure Destination:</label>
                <span> &nbsp;{{ openCruiseReservation.departure_destination}}</span>
              </div>
              <div class="form-group">
                <label>Arrival Destination:</label>
                <span>&nbsp;{{openCruiseReservation.arrival_destination}}</span>
              </div>
              <div class="form-group">
                <label>Departure Date:</label>
                <span>&nbsp;{{openCruiseReservation.departure_date}}</span>
              </div>
              <div class="form-group">
                <label>Arrival Date:</label>
                <span>&nbsp;{{openCruiseReservation.arrival_date}}</span>
              </div>
              <div class="form-group">
                <label>Cruise Duration:</label>
                <span>&nbsp;{{openCruiseReservation.cruise_duration}}</span>
              </div>
              <div class="form-group">
                <label>Cruise Provider:</label>
                <span>&nbsp;{{openCruiseReservation.cruise_provider}}</span>
              </div>
              <div class="form-group">
                <label>Price:</label>
                <span>&nbsp;{{openCruiseReservation.price}}</span>
              </div>
              <div class="form-group">
                <label>Description:</label>
                <span>&nbsp;{{openCruiseReservation.description}}</span>
              </div>
          <div class="form-group">
            <label for="picker1">Meal Preference</label>
            <select class="form-control" [(ngModel)]="newCruiseReservationBooking.meal_preference" name="meal_preference">
              <option [value]="'1st Class'">Vegetarian</option>
              <option [value]="'2nd Class'">Non-Vegetarian</option>
            </select>
          </div>
          <div class="form-group">
            <label for="picker1">Cabin Class</label>
            <select class="form-control" [(ngModel)]="newCruiseReservationBooking.cabin" name="cabin">
              <option [value]="'1st Class'">1st Class</option>
              <option [value]="'2nd Class'">2nd Class</option>
              <option [value]="'3rd Class'">3rd Class</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button> -->
        <button class="btn btn-warning" (click)="addNewCruiseBooking()" type="button">Book
          Now</button>
      </div>
    </div>
  </div>
  <!-- end of col-->
  <!-- travel-different-countries-->

  <!-- latest-log-->
</div>
