<div class="row">
    <!-- ICON BG-->
    
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mb-4 p-24" style="background-color: #02C167;">
            <div class="card-body">
                <div class="content"> <!-- Set width to 100% -->
                    <h1 class="text-black mb-4 text-36">Welcome to Vacations4You - Your Gateway to Unforgettable Adventures!</h1>
                    <p class="text-black text-22">Ready for an exciting journey? Vacations4You is your perfect travel partner for local and international adventures.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row justify-content-center align-items-center mb-4">
    <div class="col-md-3 card bg-dark text-white o-hidden md-2 mr-24 ml-24">
        <img class="card-img" src="../../../../../assets/dist-assets/images/photo-wide-1.jpg" alt="Card image" />
        <div class="card-img-overlay">
            <h5 class="card-title text-white">Cruise Gateway</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button class="btn btn-primary btn-rounded card-text">Explore</button>
        </div>
    </div>
    <div class="col-md-3 card bg-dark text-white o-hidden md-2 mr-24 ml-24">
        <img class="card-img" src="../../../../../assets/dist-assets/images/photo-wide-2.jpg" alt="Card image" />
        <div class="card-img-overlay">
            <h5 class="card-title text-white">Adventures Await</h5>
            <p class="card-text">Discover thrilling activities for every traveler. From adventure seekers to sightseeing enthusiasts, we have something for everyone.</p>
            <button class="btn btn-primary btn-rounded card-text">Explore</button>
        </div>
    </div>
    <div class="col-md-3 card bg-dark text-white o-hidden md-2 mr-24 ml-24">
        <img class="card-img" src="../../../../../assets/dist-assets/images/photo-wide-3.jpg" alt="Card image" />
        <div class="card-img-overlay">
            <h5 class="card-title text-white">Dream Getaways</h5>
            <p class="card-text">Tailor-made holiday packages for your dream vacation. Choose your destination, duration, and specialty, and let the journey begin!.</p>
            <button class="btn btn-primary btn-rounded card-text">Explore</button>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col-md-12 col-md-6 col-sm-6">
        <div class="breadcrumb">
            <h1 class="text-center">Popular Holiday Packages</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4">
                <div class="card o-hidden">
                    <img class="card-img-top" src="../../../../../assets/dist-assets/images/photo-wide-3.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Havelock Place Bungalow</h5>
                        <p class="card-text">13 Kilometers Away</p>
                        <p class="card-text">Nov 08 - 11</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">$112 per night</li>
                    </ul>
                </div>
            </div>

            <!-- Add three more cards with the same structure -->
            <div class="col-md-3 mb-4">
                <!-- Card 2 content goes here -->
                <div class="card o-hidden">
                    <img class="card-img-top" src="../../../../../assets/dist-assets/images/photo-wide-3.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Havelock Place Bungalow</h5>
                        <p class="card-text">13 Kilometers Away</p>
                        <p class="card-text">Nov 08 - 11</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">$112 per night</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <!-- Card 2 content goes here -->
                <div class="card o-hidden">
                    <img class="card-img-top" src="../../../../../assets/dist-assets/images/photo-wide-3.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Havelock Place Bungalow</h5>
                        <p class="card-text">13 Kilometers Away</p>
                        <p class="card-text">Nov 08 - 11</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">$112 per night</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <!-- Card 2 content goes here -->
                <div class="card o-hidden">
                    <img class="card-img-top" src="../../../../../assets/dist-assets/images/photo-wide-3.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Havelock Place Bungalow</h5>
                        <p class="card-text">13 Kilometers Away</p>
                        <p class="card-text">Nov 08 - 11</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">$112 per night</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
