

<section class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-top: 20px;margin-left: 30px;margin-right: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12" style="margin-top: 0px;padding-top: 0px;"><input type="text" style="height: 54px;width: 250px;margin-left: 30px;padding-left: 8px;font-family: Poppins, sans-serif;font-size: 16px;" placeholder="Cruise, Activity and Holiday ..."><input type="date" style="width: 200px;height: 54px;margin-right: 0px;margin-left: 11px;padding-left: 10px;font-family: Poppins, sans-serif;"><input type="date" style="width: 200px;height: 54px;margin-right: 0px;margin-left: 11px;padding-left: 10px;font-family: Poppins, sans-serif;"><button class="btn btn-primary" type="button" style="margin-left: 11px;height: 54px;width: 200px;font-family: Poppins, sans-serif;">Button</button><button class="btn btn-primary" type="button" style="margin-left: 11px;height: 54px;width: 200px;font-family: Poppins, sans-serif;">Button</button></div>
            <div class="col-xxl-3" style="margin-top: 10px;height: 250px;width: 360px;"><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400" style="width: 305px;height: 240px;margin-left: 30px;"></iframe></div>
            <div class="col" style="margin-top: 10px;margin-left: 0px;font-family: Poppins, sans-serif;">
                <h1 style="font-size: 20px;font-weight: bold;font-family: Poppins, sans-serif;margin-left: 15px;margin-top: 50px;">Colombo: 05 properties found</h1>
                <div class="dropdown" style="margin-top: 0px;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="height: 44px;background: #f5f5fa;border-style: solid;border-color: #000000;border-radius: 30px;font-family: Roboto, sans-serif;font-size: 16px;color: rgb(0,0,0);margin-left: 15px;margin-top: 10px;">Sort by: Top picks for travellers</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
                <div class="alert alert-success" role="alert" style="font-family: Poppins, sans-serif;font-size: 16px;margin-top: 15px;margin-left: 15px;width: 753px;"><span><strong>Alert</strong> text.</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-2" style="width: 360px;">
                <div class="card d-xxl-flex" style="width: 306px;margin-top: 15px;border-bottom-style: solid;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;margin-right: 0px;margin-left: 30px;">
                    <div class="card-body p-4" style="width: 306px;">
                        <h4 class="card-title" style="font-size: 18px;">Popular Filters</h4>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Cruise</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Hotels</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Flights</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Activities</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Book without credit card</label></div>
                    </div>
                </div>
                <div class="card" style="width: 306px;margin-top: 0px;border-top-left-radius: 0px;border-top-right-radius: 0px;border-top-style: none;margin-left: 30px;">
                    <div class="card-body p-4" style="width: 306px;">
                        <h4 class="card-title" style="font-size: 18px;"><span style="color: var(--bui_color_foreground);">Distance from centre of</span></h4>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">Cruise</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">Hotels</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8">Flights</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-9">Activities</label></div>
                        <div class="form-check" style="margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-10">Book without credit card</label></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-4" style="width: 780px;">
                <section class="d-xxl-flex" style="margin-bottom: 15px;margin-top: 15px;height: auto;width: 753px;">
                    <div class="container d-xxl-flex">
                        <div class="d-xxl-flex photo-card" style="margin-right: 0px;margin-left: 10px;width: auto;box-shadow: 0px 0px;"><img width="306" height="250" style="width: 306px;height: auto;" src="assets/img/edvin-johansson-rlwE8f8anOc-unsplash.jpg">
                            <div class="photo-details" style="background: #ffffff;width: 500px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                                <div class="row" style="width: 450px;">
                                    <div class="col-xxl-6">
                                        <h1 style="color: rgb(0,0,0);font-size: 22px;font-weight: bold;font-family: Poppins, sans-serif;">The Villa - Colombo</h1>
                                    </div>
                                    <div class="col-xxl-5">
                                        <h1 style="color: rgb(0,0,0);font-size: 22px;font-weight: bold;font-family: Poppins, sans-serif;text-align: right;">LKR 30,450</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-2" style="height: 30px;width: 75PX;">
                                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: #000000;width: 60px;font-family: Poppins, sans-serif;font-size: 16px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star" style="margin-right: 10px;">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                                            </svg>4.0</p>
                                    </div>
                                    <div class="col" style="height: 30px;">
                                        <p class="d-xxl-flex" style="color: #0057ff;width: 80px;font-family: Poppins, sans-serif;font-size: 16px;margin: -20px;margin-left: -6px;">(445)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-11">
                                        <p style="color: #000000;width: 180px;font-family: Poppins, sans-serif;font-size: 14px;text-decoration: underline;">700m from the beach</p>
                                    </div>
                                </div>
                                <div class="photo-tags">
                                    <div class="row">
                                        <div class="col">
                                            <p style="color: #000000;font-size: 14px;width: 80px;">2-star hotel</p>
                                        </div>
                                        <div class="col">
                                            <p style="color: #000000;font-size: 14px;width: 70px;">Free Wi-Fi</p>
                                        </div>
                                        <div class="col">
                                            <p style="color: #000000;font-size: 14px;width: 90px;">Beach access</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p style="color: #000000;font-size: 14px;width: 105px;">Air-conditioning</p>
                                        </div>
                                        <div class="col">
                                            <p style="color: #000000;font-size: 14px;width: 70px;">Restaurant</p>
                                        </div>
                                        <div class="col">
                                            <p style="color: #000000;font-size: 14px;width: 80px;">Kid-friendly</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-xxl-flex justify-content-xxl-end"><button class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" type="button" style="height: 41px;">See availability</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
